<html>
	<head>
	<title>Giffer</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css')}}"/>
	<script src="{{url_for('static', filename='js/jquery.js')}}"></script>
	<script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
	</head>
<body>
</body>
<div class="container">
{% include "nav.html"%}
</div>

{% block content %}
{% endblock %}


</html>