{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="jumbotron">
		<h1 class="text-center">Giffer<p><small>Your one stop shop for storing gifs</small></h1>
	</div><!-- jumbotron -->
</div>

<div class="container">
    <form method="POST" action="/submit">
    	{{ form.hidden_tag() }}
    	{{ form.category.label }} {{ form.category(size=20) }}
    	{{ form.url.label }} {{ form.url(size=20) }}
    	<input type="submit" value="Go">
	</form>

</div>

   
    
{% endblock %}